/**
 *                                             _             _
 *     ___ ___  _ __ ___ _ __   ___  _ __ ___ (_)_ __   __ _| |
 *    / __/ _ \| '__/ _ \ '_ \ / _ \| '_ ` _ \| | '_ \ / _` | |
 *   | (_| (_) | | |  __/ | | | (_) | | | | | | | | | | (_| | |
 *    \___\___/|_|  \___|_| |_|\___/|_| |_| |_|_|_| |_|\__,_|_|
 *
 *   Webmaster: Philip Newborough
 *   Contact: corenominal [at] corenominal.org
 *   Twitter: @corenominal
 *   From: Lincoln, United Kingdom
 */
 
 /**
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * Typography
 */
body {
	font-size: 86%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #111;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre {
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
	font-weight: 300;
}
.comments h1, .comments h2, .comments h3, .comments h4, .comments h5, .comments h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.taxonomy-title a,
.taxonomy-title span {
	line-height: 1.44em;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 10px;
	background: #111;
	color: #fff;
	margin-right: 4px;
	text-decoration: none;
}
.post h1, .post h2 {
	line-height: 1.44em;
	text-transform: uppercase;
}
.post h1 i, .post h2 i {
	font-size: 20px;
	display:inline-block;
}
.content-search .post h2 {
	font-size: 16px;
	font-weight: bold;
}
.sidebar {
	line-height: 1.4em;
}
.sidebar h4 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-weight: bold;
}
.sidebar .widget h4 {
	/*border-bottom: 2px solid #fff;*/
}
.recent li {
	font-size: 90%;
	margin-bottom: 20px;
}
.recent .meta {
	font-size: 86%;
}
.post {
	margin:40px 0 20px 0;
}
.post ol,
.post ul,
.comment ol,
.comment ul {
	margin-left: 20px;
}
.post ul li,
.comment ul li {
	list-style-type: square;
}
.post ol li,
.comment ol li {
	list-style-type: decimal;
}
.post,
.comments {
	line-height: 1.5em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	color: #111;
	background: #fff;
	font-size: 120%;
	line-height: 1.6em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote .fa-quote-left {
	position:absolute;
	top: 20px;
	left: 20px;
	font-size: 120%;
}
blockquote code {
	background-color:#fff;
	color: #111;
}
code,kbd,pre,samp{
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size:1em
}
code {
	font-size:14px;
	background-color:#111;
	color:#fff;
	border:none;
	white-space:nowrap;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	font-size:14px;
	background-color:#111;
	color:#fff;
	border:none;
	margin:0 0 22px 0;
	overflow-y:auto;
	padding:5px 10px;
}
pre code {
	background:transparent;
	border:none;
	white-space:pre;
}
.post footer {
	color: #111;
	background: #fff;
	clear: both;
	font-size: 13px;
	padding-top: 6px;
}
.post footer p.meta {
	margin-bottom: 0;
}
/**
 * Links
 */
a {
	transition: all 0.25s ease;
}
.site-menu ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 16px;
	font-size: 20px;
	padding: 10px 0;
}
.site-menu ul li a:hover {
	color: #111;
	background: #fff;
	text-transform: uppercase;
	padding-left: 20px;
}
.post h1 a, .post h2 a {
	text-decoration: none;
	color: #111;
	background:#fff;
	padding: 10px 0;
	box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.post h1 a:hover, .post h2 a:hover {
	background: #111;
	color: #fff;
	box-shadow: 10px 0 0 #111, -10px 0 0 #111;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.content-search .post h2 a {
	line-height: 1.8em;
}
.e-content a {
	text-decoration: none;
	color: #111;
	border-bottom: 1px solid #111;
	box-shadow: 4px 0 0 #fff, -4px 0 0 #fff;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.e-content a:hover {
	color: #fff;
	background: #111;
	border-bottom: 1px solid #111;
	box-shadow: 4px 0 0 #111, -4px 0 0 #111;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.post footer a {
	text-decoration: none;
	color: #111;
	border: 1px solid #fff;
}
.post footer a:hover {
	color: #fff;
	background: #111;
	border: 1px solid #111;
	box-shadow: 4px 0 0 #111, -4px 0 0 #111;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.comments a {
	text-decoration: none;
	color: #111;
	border: 1px solid #fff;
	border-bottom: 1px solid #111;
}
.comments a:hover {
	color: #fff;
	background: #111;
	border: 1px solid #111;
	box-shadow: 4px 0 0 #111, -4px 0 0 #111;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.commentmetadata a {
	border-bottom: 1px solid #fff;
}
.e-content a[rel*="attachment"] { 
	border-bottom: none;
	background: #fff;
	box-shadow: 0 0 0 #fff, 0 0 0 #fff;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.nav-icons a {
	color: #111;
	background: #fff;
	font-size: 28px;
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	margin: 10px 0;
}
.nav-icons a:hover {
	color: #fff;
	background: #111;
}
.nav-icons a.disabled,
.nav-icons a.disabled:hover {
	color: #111;
	background: #fff;
	opacity: 0.1;
	cursor: default;
}
.footer-icons a {
	font-size: 40px;
	color: #111;
	margin-right:20px;
}
.sidebar a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.sidebar a:hover {
	text-decoration: none;
	color: #111;
	background: #fff;
}
.sidebar .latest a {
	font-weight: bold;
	border-bottom: none;
	padding:4px 0;
	background: #fff;
	color: #111;
	margin-left: 10px;
	box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
.sidebar .latest a:hover {
	box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
}
.sidebar .social-links a {
	border-bottom: none;
}
ul.tags {
	margin:40px 0 100px 20px;
	list-style-type: none;
}
ul.tags li {
	display: inline-block;
	margin: 0 30px 30px 0;
}
ul.tags li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 22px;
	color: #fff;
	background: #111;
	padding: 4px 0;
	box-shadow: 10px 0 0 #111, -10px 0 0 #111;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
ul.tags li a:hover {
	box-shadow: 20px 0 0 #111, -20px 0 0 #111;
}
/**
 * Images
 */
.post img {
	width: auto;
	height: auto;
	border: 4px solid #111;
	max-width: 100%;
	max-width: -moz-calc(100% - 8px);
    max-width: -webkit-calc(100% - 8px);
    max-width: calc(100% - 8px);
}
svg {
	width: auto;
	height: auto;
	max-width: 100%;
}
.error404 {
	margin-bottom: 40px;
}
/**
 * Layout - mobile first
 */
.body {
	overflow-y: scroll;
	position: relative;
}
.site-title,
.site-description {
	display:none;
}
.foologo {
	width: 40px;
	height: 40px;
	margin: 10px 0;
	cursor: pointer;
}
.foologo-underlay {
	position:fixed;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
	z-index: 500;
	display: none;
}
.container {
	width: 90%;
	margin: auto;
}
.container-fw {
	width: 100%;
	margin: auto;
}
.container-content {
	padding-top: 120px;
}
.masthead {
	position: fixed;
	height: 60px;
	width: 100%;
	background: #fff;
	z-index: 510;
	transition: all 0.25s ease;
	opacity: 0.92;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}
.masthead.active {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(17,17,17,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(17,17,17,0.5);
	box-shadow: 0px 0px 20px 0px rgba(17,17,17,0.5);

}
.nav-icons {
	float: right;
}
.site-menu {
	position: fixed;
	top: 60px;
	left: 0;
	width:100%;
	background: #111;
	z-index: 500;
	display: none;
}
.site-menu ul {
	margin:20px auto 40px auto;
	width: 90%;
}
article.post {
	margin-bottom: 100px;
}
.content-search article.post {
	margin-bottom: 40px;
	padding: 0 0 0 20px;
}
.content-search {
	margin-bottom: 100px;
}
.post,
.comments {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #fff;
	line-height: 1.5em;
}
.comments .comment {
	margin-bottom: 60px;
	position: relative;
	padding-left: 62px;
}
.comment .avatar {
	position: absolute;
	top:0;
	left:0;
	border: 2px solid #111;
}
.commentmetadata {
	color: #111;
	font-size: 13px;
}
.comments label {
	display:block;
	color: #111;
}
.comments textarea,
.comments input[type="text"] {
	border: 2px solid #111;
	border-radius: 0;
	color: #333;
	background: #fff;
	width: 96%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 2%;
	padding-right: 2%;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.comments textarea:focus,
.comments input[type="text"]:focus {
	border: 2px solid #111;
	background: #fff;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(17, 17, 17, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(17, 17, 17, 0.6);
}
.comment-submit {
	color: #fff;
	background: #111;
	border: 2px solid #fff;
	border-radius: 0;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}
.comment-submit:hover {
	background: #111;
	border: 2px solid #111;
	cursor: pointer;
}
.search-page {
	margin-bottom: 200px;
}
.search-result {
	margin-bottom: 100px;
}
.search-input {
	border: 2px solid #111;
	color: #111;
	background: #fff;
	font-size: 34px;
	width: 100%;
	padding: 10px;
	border-radius: 0;
	max-width: -moz-calc(100% - 24px);
    max-width: -webkit-calc(100% - 24px);
    max-width: calc(100% - 24px);
}
.search-input:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(17, 17, 17, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(17, 17, 17, 0.6);
}
.search-no-results {
	margin-bottom: 200px;
	font-weight: bold;
	font-size: 20px;
}
.pager { display:none; }
.sidebar { 
	display: block;
	width: 100%;
	background: #111;
	color: #fff;
	padding: 40px 0;
}
.sidebar .widget {
	display:none;
}
.sidebar .social-links {
	margin-bottom: 40px;
}
.sidebar .social-links li {
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
}
.clear {
	clear:both;
}
.page-footer {
	clear:both;
	padding-bottom: 40px;
	overflow: hidden;
}
.footer-icons {
	margin-top: 40px;
}
/* Media Queries for responsive design -------------------------------------- */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
    
}
@media only screen and (min-width: 940px) {
  	body {
  		font-size: 100%;
  	}
  	.container {
		width: 912px;
	}
	.container-content {
		padding-top: 140px;
	}
	.masthead {
		height: 80px;
		width: 100%;
	}
	.foologo {
		width: 60px;
		height: 60px;
		margin: 10px 0;
		cursor: pointer;
	}
	.site-menu {
		top: 80px;
	}
	.site-menu ul {
		margin:20px auto 40px auto;
		width: 912px;
	}
	.nav-icons a {
		padding: 0 20px;
		line-height: 60px;

	}
	.content {
		width: 70%;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 30px;
		font-weight: 300;
	}
	.post h1, .post h2 {
		line-height: 1.44em;
		text-transform: uppercase;
	}
	.post h1 i, .post h2 i {
		font-size: 24px;
		display:inline-block;
	}
	.sidebar .widget {
		display: block;
		width: 28%;
		margin-right:5%;
		float: left;
		padding-bottom: 60px;
	}
	.sidebar .social-links li {
		display: inline-block;
		font-size: 40px;
		margin-right: 20px;
	}
}
@media only screen and (min-width: 1210px) {
  	.container {
		width: 1190px;
	}
	.site-menu ul {
		margin:20px auto 40px auto;
		width: 1190px;
	}
	.content {
		width: 60%;
	}
	.sidebar .widget {
		width: 20%;
		margin-right:13%;
	}
}
/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}
.noscroll {
	height: 100%;
	overflow: hidden;
}
