/**
 *                                             _             _
 *     ___ ___  _ __ ___ _ __   ___  _ __ ___ (_)_ __   __ _| |
 *    / __/ _ \| '__/ _ \ '_ \ / _ \| '_ ` _ \| | '_ \ / _` | |
 *   | (_| (_) | | |  __/ | | | (_) | | | | | | | | | | (_| | |
 *    \___\___/|_|  \___|_| |_|\___/|_| |_| |_|_|_| |_|\__,_|_|
 *
 *   Webmaster: Philip Newborough
 *   Contact: corenominal [at] corenominal.org
 *   Twitter: @corenominal
 *   From: Lincoln, United Kingdom
 */
 
 /**
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * Typography
 */
body {
	font-size: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #111;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre {
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
	font-weight: 300;
}
.post h1, .post h2 {
	line-height: 1.44em;
	text-transform: uppercase;
}
.post h1 i, .post h2 i {
	font-size: 20px;
	display:inline-block;
}
.post ol,
.post ul,
.comment ol,
.comment ul {
	margin-left: 20px;
}
.post ul li,
.comment ul li {
	list-style-type: square;
}
.post ol li,
.comment ol li {
	list-style-type: decimal;
}
.post,
.comments {
	line-height: 1.5em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	color: #fff;
	background: #111;
	font-size: 18px;
	line-height: 1.4em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote .fa-quote-left {
	position:absolute;
	top: 20px;
	left: 20px;
	font-size: 120%;
}
blockquote code {
	background-color:#fff;
	color: #111;
}
code,kbd,pre,samp{
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size:1em
}
code {
	font-size:14px;
	background-color:#111;
	color:#fff;
	border:none;
	white-space:nowrap;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	font-size:14px;
	background-color:#222;
	color:#f5f5f5;
	border:none;
	margin:0 0 22px 0;
	overflow-y:auto;
	padding:5px 10px;
}
pre code {
	background:transparent;
	border:none;
	white-space:pre;
}
.post footer {
	color: #111;
	background: #fff;
	clear: both;
	font-size: 13px;
	border-top: 2px solid #111;
	padding-top: 6px;
}
.post footer p.meta {
	margin-bottom: 0;
}
/**
 * Links
 */
a {
	transition: all 0.25s ease;
}
.site-menu ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 16px;
	font-size: 20px;
	padding: 10px 0;
}
.site-menu ul li a:hover {
	color: #111;
	background: #fff;
	text-transform: uppercase;
	padding-left: 20px;
}
.post h1 a, .post h2 a {
	display:inline-block;
	text-decoration: none;
	color: #111;
	padding: 0 20px 0 0;
}
.post h1 a:hover, .post h2 a:hover {
	background: #111;
	color: #fff;
	padding: 0 10px 0 10px;
}
.e-content a {
	text-decoration: none;
	color: #111;
	border-bottom: 1px solid #111;
}
.e-content a:hover {
	color: #fff;
	background: #111;
	border-bottom: 1px solid #111;
}
.e-content blockquote a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.e-content blockquote a:hover {
	color: #111;
	background: #fff;
	border-bottom: 1px solid #fff;
}
.post footer a {
	text-decoration: none;
	color: #111;
}
.post footer a:hover {
	color: #fff;
	background: #111;
}
.e-content a[rel*="attachment"] { 
	border-bottom: none;
	background: #fff;
}
.nav-icons a {
	color: #fff;
	background: #111;
	font-size: 28px;
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	margin: 10px 0;
}
.nav-icons a:hover {
	color: #111;
	background: #fff;
}
.nav-icons a.disabled,
.nav-icons a.disabled:hover {
	color: #fff;
	background: #111;
	opacity: 0.1;
	cursor: default;
}
.footer-icons a {
	font-size: 40px;
	color: #111;
}
.social-widget a {
	display: block;
	width: 50%;
	float: left;
	font-size: 28px;
	text-align: center;
	color: #fff;
	padding: 44px 0;
}
.social-widget a:hover {
	background: #fff;
	color: #111;
}
.feed-widget a {
	display: block;
	width: 100%;
	float: left;
	font-size: 24px;
	text-align: center;
	color: #111;
	background: #fff;
	padding: 100px 0;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.feed-widget a:hover {
	background: #111;
	color: #fff;
}
/**
 * Images
 */
.post img {
	width: auto;
	height: auto;
	border: 2px solid #111;
	border-left: 20px solid #111;
	border-right: 20px solid #111;
	max-width: 100%;
	max-width: -moz-calc(100% - 40px);
    max-width: -webkit-calc(100% - 40px);
    max-width: calc(100% - 40px);
}
/**
 * Layout - mobile first
 */
.body {
	overflow-y: scroll;
	position: relative;
}
.site-title,
.site-description {
	display:none;
}
.foologo {
	width: 40px;
	height: 40px;
	margin: 10px 0;
	cursor: pointer;
}
.foologo-underlay {
	position:fixed;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
	z-index: 500;
	display: none;
}
.container {
	width: 90%;
	margin: auto;
}
.container-fw {
	width: 100%;
	margin: auto;
}
.container-content {
	padding-top: 100px;
}
.masthead {
	position: fixed;
	height: 60px;
	width: 100%;
	background: #111;
	z-index: 510;
}
.nav-icons {
	float: right;
}
.site-menu {
	position: fixed;
	top: 60px;
	left: 0;
	width:100%;
	background: #111;
	z-index: 500;
	display: none;
}
.site-menu ul {
	margin:20px auto 40px auto;
	width: 90%;
}
.post {
	margin-bottom: 100px;
}
.pager { display:none; }
.sidebar { display:none; }
.page-footer {
	clear:both;
	padding-bottom: 40px;
	overflow: hidden;
}
.final-word {
	background: #111;
	color: #fff;
	width: 100%;
	height: 200px;
}
.page-footer .copyleft {
	float: left;
	margin-top: 40px;
}
.page-footer .poweredby {
	float: right;
	margin-top: 40px;
}
/* Media Queries for responsive design -------------------------------------- */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
    
}
@media only screen and (min-width: 940px) {
  	.container {
		width: 912px;
	}
	.container-content {
		padding-top: 120px;
	}
	.masthead {
		height: 80px;
		width: 100%;
	}
	.foologo {
		width: 60px;
		height: 60px;
		margin: 10px 0;
		cursor: pointer;
	}
	.site-menu {
		top: 80px;
	}
	.site-menu ul {
		margin:20px auto 40px auto;
		width: 912px;
	}
	.nav-icons a {
		padding: 0 20px;
		line-height: 60px;

	}
	.content {
		float: left;
		width: 65%;
	}
	.sidebar {
		display: block;
		float: right;
		width: 30%;
	}
	.sidebar-widget {
		background: #111;
		color: #fff;
		padding: 20px;
		margin-bottom: 40px;
		overflow: hidden;
	}
	.sidebar-widget h3 {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 30px;
		font-weight: 300;
	}
	.post h1, .post h2 {
		line-height: 1.44em;
		text-transform: uppercase;
	}
	.post h1 i, .post h2 i {
		font-size: 24px;
		display:inline-block;
	}
}
@media only screen and (min-width: 1210px) {
  	.container {
		width: 1190px;
	}
	.site-menu ul {
		margin:20px auto 40px auto;
		width: 1190px;
	}
	.content {
		float: left;
		width: 70%;
	}
	.sidebar {
		display: block;
		float: right;
		width: 25%;
	}
	.sidebar-widget h3 {
		font-size: 18px;
	}
}
/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}
.noscroll {
	height: 100%;
	overflow: hidden;
}