/**
 *                                             _             _
 *     ___ ___  _ __ ___ _ __   ___  _ __ ___ (_)_ __   __ _| |
 *    / __/ _ \| '__/ _ \ '_ \ / _ \| '_ ` _ \| | '_ \ / _` | |
 *   | (_| (_) | | |  __/ | | | (_) | | | | | | | | | | (_| | |
 *    \___\___/|_|  \___|_| |_|\___/|_| |_| |_|_|_| |_|\__,_|_|
 *
 *   Webmaster: Philip Newborough
 *   Contact: corenominal [at] corenominal.org
 *   Twitter: @corenominal
 *   From: Lincoln, United Kingdom
 */
 
 /**
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * Typography
 */
body {
	font-size: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #111;
	overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre {
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 24px;
	font-weight: 300;
}
.post h1, .post h2 {
	line-height: 1.44em;
	text-transform: uppercase;
}
.post h1 i, .post h2 i {
	font-size: 20px;
	display:inline-block;
}
.post ol,
.post ul,
.comment ol,
.comment ul {
	margin-left: 20px;
}
.post ul li,
.comment ul li {
	list-style-type: square;
}
.post ol li,
.comment ol li {
	list-style-type: decimal;
}
.post,
.comments {
	line-height: 1.5em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
	position: relative;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	color: #fff;
	background: #111;
	font-size: 18px;
	line-height: 1.4em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote .fa-quote-left {
	position:absolute;
	top: 20px;
	left: 20px;
	font-size: 120%;
}
code,kbd,pre,samp{
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size:1em
}
code {
	font-size:14px;
	background-color:#efefef;
	border:none;
	white-space:nowrap;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	font-size:14px;
	background-color:#222;
	color:#f5f5f5;
	border:none;
	margin:0 0 22px 0;
	overflow-y:auto;
	padding:5px 10px;
}
pre code {
	background:transparent;
	border:none;
	white-space:pre;
}
.post footer {
	color: #fff;
	background: #111;
	clear: both;
	font-size: 13px;
	padding: 4px 20px 4px 20px;
	margin-bottom: 120px;
}
.post footer p.meta {
	margin-bottom: 0;
}
/**
 * Links
 */
a {
	transition: all 0.25s ease;
}
.post h1 a, .post h2 a {
	text-decoration: none;
	color: #111;
	border-bottom: 1px solid #fff;
}
.post h1 a:hover, .post h2 a:hover {
	border-bottom: 1px solid #111;
}
.e-content a {
	text-decoration: none;
	color: #111;
	border-bottom: 1px solid #111;
}
.e-content a:hover {
	color: #fff;
	background: #111;
	border-bottom: 1px solid #111;
}
.e-content blockquote a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.e-content blockquote a:hover {
	color: #111;
	background: #fff;
	border-bottom: 1px solid #fff;
}
.post footer a {
	text-decoration: none;
	color: #fff;
}
.post footer a:hover {
	color: #111;
	background: #fff;
}
.e-content a[rel*="attachment"] { 
	border-bottom: none;
	background: #fff;
}
/**
 * Images
 */
img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/**
 * Layout - mobile first
 */
.container {
	width: 90%;
	margin: auto;
}
.container-fw {
	width: 100%;
	margin: auto;
}
/* Media Queries for responsive design -------------------------------------- */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
    
}
@media only screen and (min-width: 940px) {
  	.container {
		width: 912px;
	}
}
@media only screen and (min-width: 1210px) {
  	.container {
		width: 1190px;
	}
}
/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}